*.[oa]
*.dSYM

Makefile
config.cache
config.status
config.log
configure
autom4te.cache/
config.h
config.h.in

bbsweb/Makefile
bbsweb/util/Makefile
src/Makefile
src/util/Makefile
lib/Makefile
lib/libproto.h
csbbs/Makefile
util/Makefile

src/tsbbsproto.h

bbsweb/bbsweb
csbbs/csbbsd
src/bbsd
src/bbschatd
src/genlogin
src/util/list_postno
src/util/moduser
util/bbs-news
util/bbs2g4
util/bbsfingerd
util/bbsmail
util/bbspop3d
util/delthread
util/deluser
util/expire
util/idcheck
util/mailbm
util/menushow
util/onlinesrv
util/packbbs
util/userstat
