*.[oa]
*.dSYM
*~
cscope.out
tags

.dotest/
Makefile
config.cache
config.status
config.log
configure
autom4te.cache/
config.h
config.h.in

bbsweb/Makefile
bbsweb/util/Makefile
src/Makefile
src/globals.c
src/util/Makefile
lib/Makefile
csbbs/Makefile
util/Makefile

bbsweb/bbsweb
bbsweb/util/postcount
bbsweb/util/saveuser
bbsweb/util/top10
bbsweb/util/weblog_analyzer
csbbs/csbbsd
src/bbsd
src/bbschatd
src/genlogin
src/util/list_postno
src/util/moduser
src/util/fixoldpush
src/util/fixbid
util/bbs-news
util/bbs2g4
util/bbsfingerd
util/bbsmail
util/bbspop3d
util/delthread
util/deluser
util/expire
util/idcheck
util/mailbm
util/menushow
util/onlinesrv
util/packbbs
util/userstat

